<a href="https://colab.research.google.com/github/Junha9694/orm/blob/main/240104_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 논리연산

In [ ]:
def test1():
  print("test1 함수호출!")
  return False

def test2():
  print("test2 함수 호출!")
  return True

result = test1() + test2()
print(result)

test1 함수호출!
test2 함수 호출!
1

In [ ]:
x = 5
y = 2
z = 10

x1 = y * z # 20 = 2 * 10
x2 = x + (y * z) # 25 = 5 + (2*10)
x += y * z  # y * z 연산 후 x에 값을 더한 뒤에 할당

print(x1)
print(x2)
print(x)

20
25
25

In [ ]:
x += y * z
print(x)

45

In [ ]:
a = 2
a **= 3
print(a)

8

In [ ]:
coffe_employee = "Brand"
ornge_employee = "Brand"
print(coffe_employee is ornge_employee)
print(coffe_employee == ornge_employee)

True
True

In [ ]:
 a = [1, 2, 3]
 b = [1, 2, 3]
 print(a is b)

False

In [39]:
 a = 17
 b = 17.0

In [ ]:
print(id(a), id(b))

133278127391472 133276860870192

In [40]:
print(a == b)

True

In [ ]:
result = 2 ** 3 * 3 + 4 / 2 - 5
print(result)

21.0

In [41]:
a = 100
print((a > 100) and (a < 200)) #false 둘다 아니여서
print((a > 100) or (a < 200)) # true  or( 둘중 하나)
print((a >= 100) and (a <= 200)) #true and = 모두
print((a >= 100) or (a <= 200)) #true 둘중 하나 이기때문 true

False
True
True
True

In [55]:
b = 25
print((b / 2 == 0 ) and (b / 5 == 0)) # 한쪽이 거짓이라 false
print((b / 2 == 0 ) or (b / 5 == 0)) # 양쪽이 거짓이라 false
print((b / 5 ))
c = 5
d = b/5

False
False
5.0

In [51]:
0 == 0.0

True

In [52]:
print(d)
print(c)
print(d == c)

5.0
5
True

In [56]:
c = 1000
c // 100 # 1개(/) 붙이면 소수점 2개(//) 붙이면 정수

10

In [62]:
# 입력금액을 5000원, 1000원, 500원, 1000원 교환프로그램
#1. 금액을 입력받는다
#2. 5000~100원까지 거스름돈
money = int(input("거스름돈"))
# 5000원 지폐 갯수 개산
num_5000 = money // 5000
money -= (num_5000 * 5000)
num_1000 = money // 1000
money -= (num_1000 * 1000)
num_500 = money // 500
money -= (num_500 * 500)
num_100 = money // 100
money -= (num_100 * 100)
num_10 = money // 10
money -= (num_10 * 10)

print(f"거스름돈 5000원({num_5000})개 1000원 ({num_1000})개 500원({num_500})개 100원({num_100})개 10원({num_10})개 나왔습니다")

거스름돈12670
거스름돈 5000원(2)개 1000원 (2)개 500원(1)개 100원(1)개 10원(7)개 나왔습니다

In [107]:
#제품 원가의 할인율 입력받기
original_price = float(input("원가 가격:"))
discout_rate = float(input("할인가격:"))

원가 가격:3504500
할인가격:45696

In [108]:
#할인된 가격 계산

### discounted_price = (original_price - (original_price - discout_rate / 100))
### discounted_rate = (original_price / discounted_price)
### print(discounted_price)
discounted_price = ((original_price/100) )
discounted_rate = (discout_rate / discounted_price)
print(f"{discounted_rate}%")

1.3039235268939935%

In [120]:
name = (input("이름을 입력하세요:"))
age = float(input("나이를 입력하세요:"))

이름을 입력하세요:기준하
나이를 입력하세요:32

In [122]:
year_age = age + 1
len_name = len(name)
adult = year_age >= 18

print(f"{name}님의 이름길이는 {len_name}자, 내년 성인 여부는 {adult}입니다.")

기준하님의 이름길이는 3자, 내년 성인 여부는 True입니다.