<a href="https://colab.research.google.com/github/Junha9694/orm/blob/main/input_%EC%9E%85%EB%A0%A5%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 입력출력

In [1]:
input('입력해주세요')

입력해주세요10

'10'

In [4]:
int(input('입력해주세요')) #이상하게 나올수있음

입력해주세요10

10

In [6]:
name = input("이름을 입력해주세요")

이름을 입력해주세요기준하

In [7]:
print("Hello,"+ name + "!")

Hello,기준하!

In [10]:
# inputdmf 활용한 덧셈 - 문자열
a = input("첫번째 숫자를 입력해주세요")
b = input("첫번째 숫자를 입력해주세요")

print("a + B = ", a+b, "입니다")

첫번째 숫자를 입력해주세요10
첫번째 숫자를 입력해주세요20
a + B =  1020 입니다

In [12]:
# inputdmf 활용한 덧셈 - 문자열
a = int(input("첫번째 숫자를 입력해주세요"))
b = int(input("첫번째 숫자를 입력해주세요"))

print("a + b = ", a+b, "입니다")

첫번째 숫자를 입력해주세요11
첫번째 숫자를 입력해주세요11
a + b =  22 입니다

# 2. 출력 함수 print

In [13]:
# 1. 여러줄 출력
'출력합니다.'

'출력합니다.'

In [30]:
'출력합니다.'
'출력합니다.'

'출력합니다.'

In [18]:
# 2. 여러값 출력
print("hello", "world", "!")

hello world !

In [16]:
# 3. sep 구분자
print("hello", "world","!", sep = "-", end = "!!!")

hello-world-!!!!

In [27]:
# 4. f-string
# 4.1 f-string에서 f가 없을때
name = 'licat'
age = 10
print('제 이름은 {name}, 제 나이는 {age} 입니다.')

제 이름은 {name}, 제 나이는 {age} 입니다.

In [20]:
#4.2
name = 'licat'
age = 10
print(f'제 이름은 name, 제 나이는 age 입니다')

제 이름은 name, 제 나이는 age 입니다

In [22]:
# 4.3
name = 'licat'
age = 10
print(f'제 이름은 {name}, 제 나이는 {age} 입니다')

제 이름은 licat, 제 나이는 10 입니다

In [26]:
# 4.4 예시
name = input("이름을 입력해주세요")
age = int(input("나이를 입력해주세요"))

print(f'제 이름은 {name}, 제 나이는 {age} 입니다')

이름을 입력해주세요기준하
나이를 입력해주세요10
제 이름은 기준하, 제 나이는 10 입니다

In [28]:
a = None
print(a)

None