<a href="https://colab.research.google.com/github/Junha9694/orm/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data)
    return

solution(number)

2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

3. 다음 문제를 풀고 정답을 제출해주세요.
3.1 https://100.pyalgo.co.kr/?page=10#
3.2 https://100.pyalgo.co.kr/?page=18#

In [9]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

def solution(data):
    num = list(filter(lambda x: (x > 5 and x < 20) and x / 2 == 0, number))
    return sum(num)

solution(number)

0

In [4]:
2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요.
메서드로는 '할인' 메서드를 만들어주세요.
예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다.
`책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

0

In [14]:
# 2.
class 책:
    def __init__(self, name, content, author, date, price):
        self.name = name
        self.content = content
        self.author = author
        self.date = date
        self.price = price

    def 할인(self, discount):
        amount = self.price * (discount / 100)
        return int(self.price - amount)

book = 책('hello world python', 'hello world...', '이호준', '2024-01-11', 5000)
book.할인(10)

4500

In [ ]:
# 3.1
def solution(data):
    l = list(filter(lambda x: (x[1] + x[2] + x[3] + x[4]) > 350, data)) # 능력치가 350인 캐릭터 확인
    list_sorted = sorted([i[0] for i in l]) # 알파벳순 정렬
    return list_sorted

In [ ]:
# 3.1번
def solution(data):
    result = []

    for character in data:
        if sum(character[1:]) >= 350:
            result.append(character[0])
    return sorted(result)

In [ ]:
def solution(data):
    sorted_data = sorted(data.items(), key=lambda x: (-x[1], x[0]))

    top_three = sorted_data[:3]

    # 포맷팅
    return [f"{date[2:]}: {temp}" for date, temp in top_three]

In [ ]:
# 3.2
def solution(data):
    l = sorted(data.items(), key = lambda x : x[1], reverse = True)[:3]
    l2 = [x + ":" + str(y) for x, y in l]
    return l2